<html>
    <head>
        <title>Recruit Mi - Homepage</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="content-wrapper fade-in">
                <div class="logo-container">
                    <img src="{{ url_for('static', filename='IMG-20250827-WA0009.jpeg') }}" alt="Recruit Mi Logo" class="logo">
                </div>
                <h1>Recruit Mi</h1>
                <p>Welcome, to start, please enter your username</p>
                <form action="{{ url_for('homepage') }}" method="POST">
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="contact_num" name="contact_num" placeholder="Enter Your Contact Number" required>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>